#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
}

.logo {
  max-width: 10em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 8px !important;
  object-fit: fill;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #54bc4ae0);
  border-radius: 8px !important;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* padding: 0 2em; */
  width: 100%;
}

.read-the-docs {
  color: #888;
}